{% extends "layout.html.twig" %}

{% block title %}Home | {{ parent() }}{% endblock %}

{% block content %}
    <h1>Welcome</h1>
    <p class="text-justify">
        Welcome to the Alan Derex's website.
        <strong>This website is <abbr title="Not safe for work" class="initialism">NSFW</abbr> oriented.</strong>
        Here you can find where he's gonna be or what he likes.
        But the main purpose of this website is informational and <strong>not expressive as there won't be any picture of him.</strong>
    </p>
{% endblock %}